In [8]:
print("Hello, World!")

Hello, World!

In [9]:
import sys

print(sys.version)

3.13.1 (tags/v3.13.1:0671451, Dec  3 2024, 19:06:28) [MSC v.1942 64 bit (AMD64)]

In [10]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [11]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [12]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [13]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [14]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [15]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [16]:
a = 4
A = "Sally"
#A will not overwrite a

In [17]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [18]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [19]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [20]:
x = 5
y = 10
print(x + y)

15

In [21]:
x = 5
y = "John"
print(x, y)

5 John

In [22]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [23]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [24]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [25]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [26]:
x = 5
print(type(x))

<class 'int'>

In [27]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [28]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [29]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [30]:
a = "Hello"
print(a)

Hello

In [31]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [32]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [33]:
a = "Hello, World!"
print(a[1])

e

In [34]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [35]:
a = "Hello, World!"
print(len(a))

13

In [36]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [37]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [38]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [39]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [40]:
b = "Hello, World!"
print(b[2:5])

llo

In [41]:
b = "Hello, World!"
print(b[:5])

Hello

In [42]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [43]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [44]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [45]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [46]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [47]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [48]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [49]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [50]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [51]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [52]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [53]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [54]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars